.about-me {
  font-weight: bold;
  font-size: 50px;
}

.image-1 {
  width: 30px;
  height: 30px;
}

.user-card {
  background-color: bisque;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 0px;
  color: #333333;
}
